<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Checker</title>
    <link rel="stylesheet" href="css/err.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Serif&display=swap" rel="stylesheet">
    <link class="favicon" rel="icon" href="favicon.svg" sizes="any" type="image/svg+xml">
  </head>
  <body>
    <section id="header-section">
      <h1 class="header">Error</h1>
    </section>
    <div class="circle-1" aria-hidden="true"></div>
    <div class="circle-2" aria-hidden="true"></div>
    <div class="circle-3" aria-hidden="true"></div>
    <section id="main-section">
        <p class="error-message">Try again</p>
        <form class="form" action="/" method="redirect">
          <button class="btn" type="submit" name="button" aria-label="Return to home">Return to home</button>
        </form>
    </section>
    <span class="name-text">Yash Bijoor</span>

    <script src="index.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
  </body>
</html>
