*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Page */
html{
  min-height: 100vh;
  min-width: 300px;
}

body{
  background-image: linear-gradient(to top right, #94B3FD, #28FFBF);
  height: auto;
  min-width: inherit;
}

#header-section{
  text-align: center;
  font-family: 'Roboto Serif', sans-serif;
  margin: 20px;
  font-size: 24px;
  color: #062A3D;
}

#body-section{
  margin: 30px;
  background: linear-gradient(to right bottom , rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15));
  min-height: 70vh;
  min-width: 80vw;
  border-radius: 20px;
  overflow: hidden;
}

.circle-1{
  position: absolute;
  left: 0;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: linear-gradient(to right bottom , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4));
  z-index: -1;
  filter: blur(0.25rem);
}

.circle-2{
  position: absolute;
  right:0;
  top: 30%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: linear-gradient(to right bottom , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4));
  z-index: -1;
  filter: blur(0.25rem);
}

.circle-3{
  position: absolute;
  bottom: 7%;;
  left: 30%;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: linear-gradient(to right bottom , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4));
  z-index: -1;
  filter: blur(0.5rem);
}

.form-div{
  min-height: 70vh;
  min-width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.column{
  flex-grow: 1;
  flex-basis: 0;
  height: 70vh;
}

select{
  height: 40px;
  width: 250px;
  border-radius: 10px;
  border: none;
  background-color: #062A3D;
  color: #fff;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  padding: 0 10px;
}

/* Chrome, Firefox, Opera, Safari 10.1+ Firefox */
::placeholder {
  position: relative;
  color: #fff;
  opacity: 0.5;
  left: 10px;
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  position: relative;
  color: #fff;
  opacity: 0.5;
  left: 10px;
}

/* Microsoft Edge */
::-ms-input-placeholder {
  position: relative;
  color: #fff;
  opacity: 0.5;
  left: 10px;
}

#body-section .bar{
  height: 40px;
  width: 250px;
  border-radius: 10px;
  border: none;
  background-color: #062A3D;
  color: #fff;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
}

.btn {
  background: #062A3D;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

.btn:hover {
  background: #fff;
  color: #062A3D;
  border: none;
  font-weight: bold;
}

.input-wrapper, .button-wrapper, .dropdown{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 270px;
  padding: 20px;
  height: 100px;
  margin: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
}
